language: java
jdk:
  - openjdk8

before_install:
- openssl aes-256-cbc -k "$GPG_PASSPHRASE" -in codesigning.asc.enc -out codesigning.asc -d
- gpg --fast-import codesigning.asc
# get parent project
- (if [ $(git ls-remote https://github.com/ant-media/ant-media-server-parent.git $TRAVIS_BRANCH  | wc -l) == "1" ];  
    then 
      echo " $TRAVIS_BRANCH branch found";  
      git clone --depth=1 -b $TRAVIS_BRANCH https://github.com/ant-media/ant-media-server-parent.git;  
    else
      echo "branch not found"; 
      git clone --depth=1 https://github.com/ant-media/ant-media-server-parent.git;  
  fi)
- cd ant-media-server-parent
- mvn clean install -DskipTests -Dmaven.javadoc.skip=true -Dgpg.skip=true --quiet
- cd ..

install:
  - mvn clean install -Dmaven.javadoc.skip=true -Dmaven.test.skip=true -Dgpg.skip=true --quiet

cache:
  directories:
    - '$HOME/.m2/repository'

deploy:
  - provider: script
    script: "mvn deploy -DskipTests --quiet --settings mvn-settings.xml"
    skip_cleanup: true
    on:
    #deploy all branches to mvn if it is a snapshot version
      tags: false
      all_branches: true
      condition: $(mvn -q -Dexec.executable="echo" -Dexec.args='${project.version}' --non-recursive exec:exec)  = *"SNAPSHOT"*

  - provider: script
    script: "mvn deploy -DskipTests --quiet --settings mvn-settings.xml"
    skip_cleanup: true
    on:
      #deploy to maven if it is master branch and tagged
      tags: true
      condition: $TRAVIS_TAG =~ ^ams-v

#above configuration prevents deploying a new release(not snapshot) if it is not tagged

